{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>SberReviews Analyzer</title>
</head>
<body>
<h1> <mark style="color:green; background-color:white">Sber</mark>Reviews Analyzer</h1>
<div class="container" align="center">
    <h4>Choose required parameters</h4>
{#    TODO MOVE to configs #}
    <form action="/process">
        <div class="form-group">
            <label for="start_date">Start date:</label>
            <input type="date" id="start_date" name="start_date">
        </div>
        <div class="form-group">
            <label for="end_date">End date:</label>
            <input type="date" id="end_date" name="end_date">
        </div>
        <div class="form-group">
            <label for="select_format">Select output format:</label>
            <label>
                <select id="select_format" name="format"  >
                    <option>CSV</option>
                    <option>JSON</option>
                </select>
            </label>
        </div>

        <table class=buttons>
         <tr>
            <td><button type="submit" class="btn btn-success">Download analysis</button>
            <td><button type=button class="btn btn-info" style="position:relative; left:10px"
         onclick="showChart('type-counts', start_date.value, end_date.value, 'doughnut')">Show chart</button>
        </table>
    </form>
</div>
{# TODO change align #}
<p id="resultChart" align="center"></p>
</body>
</html>